{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,600&display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'action/style.css' %}">
    {% block head %} {% endblock %}
</head>
<nav id="main-nav" class="navbar navbar-expand-md navbar-dark navbar-black fixed-top bg-dark">
    <a href="/">
    <img class="po-icon" src="{% static 'action/po_logo.png'%}">
    </a>
    <div class="ml-auto btn-container">
        {% if not hidemy %}
        <form class="form-inline my-2" action="/activity/">
            <button class="btn btn-outline-success outline-btn nav-btn mx-2" type="submit"> MY TRIPS </button>
        </form>
        {% endif %}
        {% if not hidemy %}
        <form class="form-inline my-2" action="/profile/">
            <button class="btn btn-outline-warning outline-btn nav-btn mx-2" type="submit"> MY PROFILE </button>
        </form>
        {% endif %}
        <form class="form-inline my-2" action="/accounts/logout/">
            <button class="btn btn-outline-primary outline-btn nav-btn mx-2" type="submit"> LOG OUT </button>
        </form>
    </div>
</nav>
<body class="main-bg">
    <div class="container-fluid centered" style="padding-top: 70px;">
        {% block body %} {% endblock %}
    </div>
</body>
<script>
var navbar = document.getElementById('main-nav');
window.onscroll = () => { 
    if(window.scrollY <= 75) {
        navbar.classList.add('navbar-black');
        navbar.classList.remove('solid-nav');
    } else {
        navbar.classList.add('solid-nav');
        navbar.classList.remove('navbar-black');
    }
};
</script>
</html>