{% extends 'base.html' %}

{% block head %}
<title> +1 | Home </title>
{% endblock %}

{% block body %}
<div class="container reg-header fin-h text-left pt-5"> Ready to go? </div>
<div class="container card home-card p-5 mt-5 shadow-lg" action="search/">
    <form id="trip" method="POST"> {% csrf_token %}
        <label class="ml-1"> {{ form.source.label }} </label>
        {{ form.source }}<br/>
        <label class="ml-1"> {{ form.destination.label }} </label>
        {{ form.destination }}
        <label class="ml-1" id="date-chooser"> {{ form.journey_date.label }} </label>
        <div class="form-row">
            <div class="col"> {{ form.journey_date }} </div>
            <div class="col"> {{ form.journey_time }} </div>
        </div>
        <div class="form-row">
            <p style="color: #b3b3b3;margin-left:10px">I AM WILLING TO START </p>
        </div>
        <div class="form-row">
            <div class="col"> {{ form.minima }} </div>
            <p style="color: #b3b3b3;margin-top:10px;font-size:large"> MINUTES EARLY </p>
        </div>
        <div class="form-row">
            <p style="color: #b3b3b3;margin-left:10px">AND</p>
        </div>
        <div class="form-row">
            <div class="col"> {{ form.maxima }} </div>
            <p style="color: #b3b3b3;margin-top:10px;font-size:large">MINUTES LATE</p>
        </div>
        <button class="btn btn-outline-danger outline-btn p-2 px-4 mt-4" type="submit"> GO! </button>
    </form>
    <br>
    <div style="background-color:azure">
        <input id="input2" width="312" />
        <script>
            $('#input2').datetimepicker({ footer: true, modal: true });
        </script>
    </div>
    <button onclick="myFunction()">Pick (Check Console)</button>
    <script>
        function myFunction() {
            var val = document.getElementById('input2').value;
            console.log(val);
        }
    </script>
</div>

{% endblock %}