{% extends 'base.html' %}

{% block head %}
<title> +1 | Home </title>
{% endblock %}

{% block body %}
<div class="container reg-header fin-h text-left pt-4"> Ready to go? </div>
<div class="container card home-card p-5 mb-5 mt-5 shadow-lg" action="search/">
    <form id="trip" method="POST"> {% csrf_token %}
        <label class="ml-1"> {{ form.source.label }} </label>
        {{ form.source }}<br/>
        <label class="ml-1"> {{ form.destination.label }} </label>
        {{ form.destination }}
        <label class="ml-1" id="date-chooser"> {{ form.journey_date.label }} </label>
        <div class="form-row">
            <div class="col-lg">
                <input type="text" class="form-control dt-gray datetimepicker-input" autocomplete="off" id="datefield" data-toggle="datetimepicker" data-target="#datefield"/>
            </div>
            <div class="col-md-4"> 
                <input type="text" class="form-control dt-gray datetimepicker-input" autocomplete="off" id="timefield" data-toggle="datetimepicker" data-target="#timefield"/>
            </div>
        </div>
        <label class="ml-1 pt-3"> I'M FINE WITH STARTING... </label>
        <div class="form-row">
            <div class="col"> 
                {{ form.minima }} 
                <div class="text-right">
                    <label class="ml-1 "> MINS BEFORE </label> 
                </div>
            </div>
            <label class="p-3"> OR </label>
            <div class="col">
                {{ form.maxima }}
                <div class="text-right">
                    <label class="ml-1 "> MINS AFTER </label> 
                </div>
            </div>
        </div>
        <button id="home-submit" class="btn btn-outline-danger outline-btn p-2 px-4 mt-4" type="button"> GO! </button>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        var dt = new Date();
        $('#timefield').datetimepicker({
            format: 'HH:mm',
            defaultDate: moment({
                hour: dt.getHours(),
                minute: dt.getMinutes()
            }).add(10, 'm')
        });
    });
    $(function () {
        var dt = new Date();
        $('#datefield').datetimepicker({
            format: 'DD/MM/YYYY',
            defaultDate: moment({
                day: dt.getDate(),
                month: dt.getMonth(),
                year: dt.getFullYear()
            })
        });
    });
    $('#home-submit').click(function() {
        $.ajax({
            url: "/",
            type: "POST",
            data: {
                source: $('#id_source').find(':selected').attr('value'),
                destination: $('#id_destination').find(':selected').attr('value'),
                time: $('#timefield').val(),
                date: $('#datefield').val(),
                minima: $('#id_minima').val(),
                maxima: $('#id_maxima').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: "html",
            success: function() {
                window.location.href = '/search'
            },
            error: function() {
                console.log('failure')
            }
        });
    });
</script>

{% endblock %}