{% extends "base.html" %}

{% block head %}
<title> +1 | Contact </title>
{% endblock %}

{% block body %}

<div class="container search-result-item card home-card p-5 mt-5 shadow-lg">
    <div class="search-result-item-heading-label"> CONTACT </div>
    <h2 class="search-result-item-heading">{{ owner_name }}</h2>
    <h2 class="search-result-item-heading">{{ owner_contact }}</h2>
    <br/><br/>
    <div class="search-result-item-heading-label pt-3"> TO </div>
    <h4 class="search-result-item-heading">{{ destination }}</h4>
    <div class="search-result-item-heading-label pt-3"> FROM </div>
    <h4 class="search-result-item-heading">{{ source }}</h4><br/>
    <h2 class="search-result-item-heading-label">{{ journey_date }}, {{ journey_time }}</h2>
    <div class="pt-5">
        <button onclick="goBack()" class="btn btn-outline-warning outline-btn"> < RETURN TO SEARCH </button>
    </div> 
</div>

<script>
    function goBack() {
      window.history.back();
    }
</script>
{% endblock %}