{% extends "base.html" %}
{% block body %}

<div class="col-md-9 col-md-pull-3">
    
        <section class="search-result-item">
            <div class="search-result-item-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h4 class="search-result-item-heading">From: {{ temp.source }}</h4>
                        <h4 class="search-result-item-heading">To: {{ temp.destination }}</h4>
                        <h5 class="search-result-item-metaheading">{{ temp.owner }}</h5>
                        <p class="info">{{ temp.journey_date }}, {{ temp.journey_time }}</p>
                        <h5 class="search-result-item-metaheading">Contact info : {{ curr_owner.last_name }}</h5>
                    </div>
                </div>
            </div>
        </section>
    
</div>

{% endblock %}