{% extends "base.html" %}
{% block body %}

<div class="col-md-9 col-md-pull-3">
    
        <section class="search-result-item">
            <div class="search-result-item-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h4 class="search-result-item-heading">To: {{ trip.destination }}</h4>
                        <h4 class="search-result-item-heading">From: {{ trip.source }}</h4>
                        <p class="info">{{ trip.journey_date }}, {{ trip.journey_time }}</p>
                        <h5 class="search-result-item-metaheading">{{ owner.first_name }}</h5>
                        <h5 class="search-result-item-metaheading">Contact info : {{ owner.last_name }}</h5>
                    </div>
                </div>
            </div>
        </section>
    
</div>

{% endblock %}