* {
    font-family: 'Jost';
}

body {
    background-color: black;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-bg {
    height: 100vh;
    background-image: url('/static/action/hyd_zoom.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
}

.navbar-black {
    background-color: #00000000 !important;
}

.nav-btn {
    font-weight: 500;
}

.btn-container {
    display: flex;
    flex-direction: row;
}

.outline-btn {
    border-width: 2px !important;
}

.po-icon {
    font-weight: 600;
    font-size: 28px;
    color: white;
}

.home-card {
    max-width: 500px;
    background-color: #161616 !important;
}

#trip label {
    color: #b3b3b3;
    font-weight: 500;
}

#trip input {
    background-color: #000000;
    border-color: black !important;
    color: #eee;
    font-size: 24px;
}

.dt-gray {
    color: #888 !important;
}